<a href="https://colab.research.google.com/github/rbeqsinstem/ebacworks/blob/main/Intera%C3%A7%C3%A3o_com_o_Usu%C3%A1rio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Visualização de Variáveis e Textos

In [2]:
print ('Conhecendo o Comando Print')

x = 8
print (x)

Conhecendo o Comando Print
8

In [3]:
y=10
soma = x + y
print (soma)

18

In [4]:
nome = 'Rebeca Cruz'
print (nome)

Rebeca Cruz

### Concatenação

*Operador de Vírgula*

In [5]:
x = 5
print ('O valor de x é', x )

O valor de x é 5

*Operação aritmética*

In [7]:
print ('O valor de x é', x, 'e o valor de y é', x * 2)

O valor de x é 5 e o valor de y é 10

In [9]:
print ('Eu', nome, 'tirei', x, 'na prova de Phyton')

Eu Rebeca Cruz tirei 5 na prova de Phyton

*Variáveis na mesma linha*

In [13]:
y = 10; z = 20 + x - y
print ('Declarar várias variáveis na mesma linha:', y,'e', z)

Declarar várias variáveis na mesma linha: 10 e 15

## Type

*Conversão de Variável*

In [15]:
x = 10
type (x)
print ('x' , type (x))

nome = 'Rebeca'
print ('nome', type(nome))

num = '100'
num_convert = int(num)
print('num',type(num))
print('num_conver',type(num_convert))

num_float = float (num)
print ('num_float', num_float)

x <class 'int'>
nome <class 'str'>
num <class 'str'>
num_conver <class 'int'>
num_float 100.0

## Input

In [17]:
nome = input ("Digite o nome do usuário ")
print(nome)

Digite o nome do usuário Rebeca
Rebeca

In [19]:
valor = input ('Digite a nota ')
print (nome,'sua nota foi', valor)

Digite a nota 10
Rebeca sua nota foi 10

In [20]:
valor=input ('Digite o valor do produto: ')
print (valor)

Digite o valor do produto: 900
900

*Representação do TypeError e Resoluções*

In [33]:
desconto = valor - 5

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [32]:
valor_convert = int(valor)
desconto = valor_convert - 5
print (desconto)

895

In [34]:
desconto - int(valor) - 5
print(desconto)

895